[Desktop Entry]
Type=Application
Name=OpenEffects
GenericName=Webcam Effects
Comment=Apply real-time effects to your webcam
Exec=openeffects
Icon=in.co.funinkina.OpenEffects
Terminal=false
StartupWMClass=in.co.funinkina.OpenEffects
Categories=AudioVideo;Video;
Keywords=webcam;camera;effects;background;blur;portrait;virtual camera;
StartupNotify=true
